/*ГАЛЕРЕЯ 1*/

.layout
{
    padding: 10px 20px;
    box-sizing: border-box;
}

.layout h2
{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.gallery
{
    width: 80%;
    margin: 60px auto;
    height: 200px;
}

.gallery-1-item,
.gallery-2-item,
.carusel__item div
{
    display: inline-block;
    width: 24.25%;
    height: 200px;
    position: relative;
    margin-right: 1%;
    vertical-align: top;
    transition: height .2s ease-in-out .2s;
}

.gallery-1-item:hover
{
    height: 400px;
}

.gallery-1-item:last-of-type,
.gallery-2-item:last-of-type,
.carusel__item div:last-of-type
{
    margin-right: 0;
}

.gallery-1-item > div
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    transition: right .2s ease-in-out, z-index .2s ease-in-out;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
}

.gallery-1-item:hover > div
{
    right: -40px;
    z-index: 20;
    box-shadow: 0 0 14px rgba(0,0,0,.3);
}

.gallery-1-item__img,
.gallery-1-item__text
{
    height: 172px;
    overflow: hidden;
    margin: 14px 28px;
    text-align: center;
}

.gallery-1-item__img img
{
    max-width: 100%;
    max-height: 100%;
}

.gallery-1-item__text
{
    font-size: 18px;
    height: 180px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.gallery-1-item:hover .gallery-1-item__text
{
    opacity: 1;
}

/*ГАЛЕРЕЯ 2*/

.gallery-2-item
{
    border: 1px solid #eee;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    position: static;
    transition: box-shadow .2s ease-in-out;
    box-sizing: border-box;
    text-align: center;
}

.gallery-2-item:hover
{
    box-shadow: 0 0 14px rgba(0,0,0,.3);
}

.gallery-2-item input
{
    display: none;
}

.gallery-2-item__label-img
{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.gallery-2-item__label-img img
{
    max-width: 100%;
    max-height: 100%;
}

.popup
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s ease-in-out, z-index .2s ease-in-out;
}

.popup-bg
{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
}

.popup img
{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2010;
}

.gallery-2-item__label-cross
{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2010;
    cursor: pointer;
}

.gallery-2-item__label-cross line
{
    stroke: #fff;
    stroke-width: 3;
}

.gallery-2-1:checked ~ .popup,
.gallery-2-2:checked ~ .popup,
.gallery-2-3:checked ~ .popup,
.gallery-2-4:checked ~ .popup
{
    opacity: 1;
    z-index: 2000;
}

.cross:checked ~ .popup
{
    opacity: 0;
    z-index: -1;
}

/*ГАЛЕРЕЯ 3*/

.carusel-wr
{
    overflow: hidden;
    position: relative;
    height: 240px;
}

.carusel
{
    white-space: nowrap;
}

.carusel__item
{
    display: inline-block;
    width: 100%;
    height: 200px;
    text-align: center;
    will-change: margin;
    transition: margin .4s ease-in-out .4s, opacity .4s ease-in-out;
    opacity: 0;
}

.carusel__item div
{
    white-space: normal;
    background: #fff;
    margin-right: 0;
    width: 25%;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    box-sizing: border-box;
}

.carusel__item img
{
    max-width: 100%;
    max-height: 100%;
}

.carusel-1:checked ~ .carusel .carusel-item-1
{
    margin-right: 0;
    opacity: 1;
}

.carusel-2:checked ~ .carusel .carusel-item-1
{
    margin-right: -100%;
    opacity: 0;
}

.carusel-2:checked ~ .carusel .carusel-item-2
{
    margin-right: 0;
    opacity: 1;
}

.carusel-3:checked ~ .carusel .carusel-item-2
{
    margin-right: -200%;
    opacity: 0;
}

.carusel-3:checked ~ .carusel .carusel-item-3
{
    margin-right: 0;
    opacity: 1;
}

.carusel-4:checked ~ .carusel .carusel-item-3
{
    margin-right: -300%;
    opacity: 0;
}

.carusel-4:checked ~ .carusel .carusel-item-4
{
    margin-right: 300%;
    opacity: 1;
}

.carusel-wr input
{
    position: absolute;
    bottom: 0;
    left: 50%;
}

.carusel-wr input:nth-of-type(1)
{
    margin-left: -42px;
}

.carusel-wr input:nth-of-type(2)
{
    margin-left: -14px;
}

.carusel-wr input:nth-of-type(3)
{
    margin-left: 14px;
}

.carusel-wr input:nth-of-type(4)
{
    margin-left: 42px;
}

/*ГАЛЕРЕЯ 4*/

.gallery-4 input
{
    display: none;
}

.carusel-l,
.carusel-r
{
    position: absolute;
    top: 50%;
    width: 32px;
    height: 16px;
    background: url(../img/slide_row.png) center no-repeat;
    transform: rotate(-90deg);
    z-index: 10;
    cursor: pointer;
}

.carusel-l
{
    left: 0;
    background-position: 4px 0;
}

.carusel-r
{
    right: 0;
    background-position: -30px -15px;
}

.carusel-l:hover
{
    background-position: -26px 0;
}

.carusel-r:hover
{
    background-position: 0 -15px;
}

.carusel-1-l:checked ~ .carusel-lab-2-l,
.carusel-2-l:checked ~ .carusel-lab-3-l,
.carusel-3-l:checked ~ .carusel-lab-4-l
{
    z-index: 20;
}

.carusel-lab-4-r,
.carusel-lab-1-l
{
    z-index: 15;
}

.carusel-4-r:checked ~ .carusel-lab-3-r,
.carusel-3-r:checked ~ .carusel-lab-2-r,
.carusel-2-r:checked ~ .carusel-lab-1-r
{
    z-index: 20;
}

.carusel-1-l:checked ~ .carusel .carusel-item-1
{
    opacity: 1;
    margin-left: 0;
}

.carusel-2-l:checked ~ .carusel .carusel-item-2
{
    opacity: 1;
    margin-left: -100%;
}

.carusel-3-l:checked ~ .carusel .carusel-item-3
{
    opacity: 1;
    margin-left: -200%;
}

.carusel-4-l:checked ~ .carusel .carusel-item-4
{
    opacity: 1;
    margin-left: -300%;
}

.carusel-4-r:checked ~ .carusel .carusel-item-3
{
    opacity: 1;
    margin-left: -200%;
}

.carusel-3-r:checked ~ .carusel .carusel-item-2
{
    opacity: 1;
    margin-left: -100%;
}

.carusel-2-r:checked ~ .carusel .carusel-item-1
{
    opacity: 1;
    margin-left: 0%;
}

.carusel-1-r:checked ~ .carusel .carusel-item-4
{
    opacity: 1;
    margin-left: -300%;
}
