body
{
    margin: 0;
}

span.images 
{
    position: fixed;
    top: 20vh;
    height: auto;
    left: 10vw;
    width: 80vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

span.qq 
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}

span.image 
{
    position: relative;
    right: 0;
    height: auto;
    width: 25%;
    display: inline-block;
    transition: 1s;
}

input:nth-of-type(1):checked ~ label:nth-of-type(2):after,
input:nth-of-type(2):checked ~ label:nth-of-type(3):after
{
    content: '\3009';
    position: fixed;
    right: -3%;
    top: 30%;
}

input:nth-of-type(2):checked ~ label:nth-of-type(1):after,
input:nth-of-type(3):checked ~ label:nth-of-type(2):after
{
    content: '\3008';
    position: fixed;
    left: -3%;
    top: 30%;
}

input:nth-of-type(2):checked ~ span.qq span.image
{
    right: 76%;
}

input:nth-of-type(3):checked ~ span.qq span.image
{
    right: 152%;
}

span.image > img.small
{
    position: relative;
    width: 80%;
    padding: 10%;
}

span.image:hover > img.small
{
    width: 100%;
    padding: 0;
}

span.image:hover
{
    vertical-align: top;
}

span.image:hover > p
{
    display: block;
}

div.bigimg
{
    display: none;
    width: 100%;
}

div.cross
{
    display: none;
    width: 80px;
    height: 80px;
}

div.cross > img
{
    position: relative;
    width: 100%;
}

div.bigimg > img
{
    position: relative;
    top: 10vh;
    left: 25vw;
    width: 50vw;
    z-index: 9500;
}

span.image:focus > div.bigimg
{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    background: rgba(0,0,0,.4);
}

span.image:focus > div.cross
{
    position: fixed;
    top: 10vh;
    right: 25vw;
    display: block;
    width: 80px;
    height: 80px;
    z-index: 9900;
}

p
{
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
    font: italic normal bold 12px Arial;
    background-color: #ddd;
}

input 
{
    display: none;
}

label 
{
    cursor: pointer;
    font-weight: 600;
    font-size: 5em;
}
