html,
body
{
    width: 100%;
    height: 100%;
}

img
{
    width: 130px;
    height: 140px;
}

h4
{
    text-align: center;
    display: none;
    margin: 0;
    padding: 0;
    height: 30px
}

a
{
    max-width: 0;
    max-height: 0;
    color: black;
    text-decoration: none;
}

.gallery
{
    position: absolute;
    height: 200px;
    width: 580px;
    overflow: hidden;
    left: 25%;
    top: 30%;
}

.gallery-first-block,
.gallery-second-block,
.gallery-third-block
{
    position: absolute;
    width: 580px;
    height: 180px;
    -webkit-transition: left 1s ease-out;
    -moz-transition: left 1s ease-out;
    -o-transition: left 1s ease-out;
    transition: left 1s ease-out;
}

.gallery-item
{
    display: inline-block;
    width: 140px;
    height: 180px;
}

.close-button
{
    font-size: 45px;
    display: none;
}

.close-button:hover
{
    background-color: rgba(166,166,166, .5);
}

div:target
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(166,166,166, .5);
    top: 0;
    left: 0;
}

div:target img
{
    display: block;
    width: 50%;
    height: 50%;
    margin: 5% auto;
    cursor: default;
}

div:target div
{
    display: inline;
    margin-left: 85%;
    cursor: default;
}

div:target:hover h4
{
    display: none;
}

div > div > div:hover
{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

div > div > div:hover h4
{
    display: inline;
}

input[value='first']
{
    position: absolute;
    left: 44%;
    top: 57%;
    margin: 2%;
}

input[value='second']
{
    position: absolute;
    left: 47%;
    top: 57%;
    margin: 2%;
}

input[value='third']
{
    position: absolute;
    left: 50%;
    top: 57%;
    margin: 2%;
}

input[value='first']:checked ~ .gallery .gallery-first-block
{
    left: 0;
}

input[value='first']:checked ~ .gallery .gallery-second-block
{
    left: 100%;
}

input[value='first']:checked ~ .gallery .gallery-third-block
{
    left: 200%;
}

input[value='second']:checked ~ .gallery .gallery-first-block
{
    left: -100%;
}

input[value='second']:checked ~ .gallery .gallery-second-block
{
    left: 0;
}

input[value='second']:checked ~ .gallery .gallery-third-block
{
    left: 100%;
}

input[value='third']:checked ~ .gallery .gallery-first-block
{
    left: -200%;
}

input[value='third']:checked ~ .gallery .gallery-second-block
{
    left: -100%;
}

input[value='third']:checked ~ .gallery .gallery-third-block
{
    left: 0;
}
