body
{
	background: #CCFF99;
}

header
{
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster', cursive;
}

img
{
	display: inline-block;
	margin: 1%;
	-webkit-box-shadow:
		inset 0 0 4px rgba(0,0,0,1),
		inset 0 2px 1px rgba(255,255,255,.5),
		inset 0 -9px 2px rgba(0,0,0,.6),
		inset 0 -12px 2px rgba(255,255,255,.3);
	-moz-box-shadow:
		inset 0 0 4px rgba(0,0,0,1),
		inset 0 2px 1px rgba(255,255,255,.5),
		inset 0 -9px 2px rgba(0,0,0,.6),
		inset 0 -12px 2px rgba(255,255,255,.3);
	box-shadow:
		inset 0 0 4px rgba(0,0,0,1),
		inset 0 2px 1px rgba(255,255,255,.5),
		inset 0 -9px 2px rgba(0,0,0,.6),
		inset 0 -12px 2px rgba(255,255,255,.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div
{
	width: 22.5%;
	vertical-align: top;
	display: inline-block;
	margin: 1%;
}
.section2,
.section3,
p
{
	display: none;
}

.page-2:checked ~ .section2
{
	display: block;
}

.page-2:checked ~ .section1,
.page-2:checked ~ .section3
{
	display: none;
}

.page-3:checked ~ .section3
{
	display: block;
}

.page-3:checked ~ .section1,
.page-3:checked ~ .section2
{
	display: none;
}

div:hover p
{
	display: block;
}
section:target ~ .exit
{
    display: block;
}
    
.exit
{
    position: fixed;
    display: none;
    font-size: 40px;
    transition: 1;
    color: #fff;
    top: 10px;
    left: 20px;
    z-index: 1;
}
section:target ~ .exit
{
    display: block;
    
}
img[tabindex="0"] {
  cursor: zoom-in;
}
img[tabindex="0"]:focus {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 99%;
  margin: auto;
  box-shadow: 0 0 20px, 0 0 0 1000px rgba(128,128,128,.8);
}
img[tabindex="0"]:focus, 
{
  pointer-events: none;
  cursor: zoom-out;
}