body
{
    margin: 0;
    height: 100vh;
}

.blocks
{
    position: fixed;
    left: 10%;
    width: 80%;
    right: 10%;
    white-space: nowrap;
    word-wrap: break-word;
    display: inline-table;
    table-layout: auto;
    overflow: hidden;
}

.externalblock
{
    right: 0;
    width: 25%;
    position: relative;
    display: inline-table;
    height: 100vh;
    table-layout: auto;
    vertical-align: middle;
    transition: 1s;
}

.centralblock
{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}

label
{
    position: fixed;
    width: 6%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 90px;
    cursor: pointer;
    display: none;
}

input:nth-of-type(1):checked ~ label:nth-of-type(2),
input:nth-of-type(2):checked ~ label:nth-of-type(3)
{
    display: block;
    right: 2%;
    content: url('images/right.png');
}

input:nth-of-type(2):checked ~ label:nth-of-type(1),
input:nth-of-type(3):checked ~ label:nth-of-type(2)
{
    display: block;
    left: 2%;
    content: url('images/left.png');
}

input:nth-of-type(2):checked ~ .blocks > .externalblock
{
    right: 75%;
}

input:nth-of-type(3):checked ~ .blocks > .externalblock
{
    right: 150%;
}

.internalblock > .images > img.small
{
    position: relative;
    width: 80%;
    padding: 10%;
    cursor: pointer;
}

.internalblock:hover > .images > img.small
{
    width: 100%;
    padding: 0;
}

.internalblock:hover > .description
{
    display: block;
}

.bigimg
{
    display: none;
    width: 100%;
    text-align: center;
}

.cross
{
    display: none;
    width: 80px;
    height: 80px;
}

.cross > img
{
    position: relative;
    width: 100%;
    cursor: pointer;
}

.bigimg > img
{
    top: 15vh;
    position: relative;
    height: 70vh;
    z-index: 9995;
}

.images:focus > .bigimg
{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 9800;
	
    background: rgba(0, 0, 0, .4);
}

.images:focus > .cross
{
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 80px;
    height: 80px;
    z-index: 9900;
}

.description
{
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
    font: italic normal bold 12px Arial;
    background-color: #ddd;
}

input
{
    display: none;
}
