body
{
    width: 100%;
    height: 100%;
    min-width: 1000px;
}

h3
{
    text-align: center;
}

.block
{
    text-align: justify;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 23%;
}

.img-photo
{
    width: 100%;
    height: auto;
}

h2
{
    font: bold 30px 'Lobster', cursive;
    color: red;
}

.description
{
    display: none;
}

.inside:hover .description
{
    display: block;
}

.description
{
    overflow: hidden;
    hyphens: manual;
    text-align: center;
    padding: 10px;
}

.block .img-photo
{
    cursor: zoom-in;
}

.img-photo:focus
{
    cursor: default;
}

.first:checked ~ .screen2,
.first:checked ~ .screen3,
.first:checked ~ .screen4,
.second:checked ~ .screen1,
.second:checked ~ .screen3,
.second:checked ~ .screen4,
.third:checked ~ .screen1,
.third:checked ~ .screen2,
.third:checked ~ .screen4,
.fourth:checked ~ .screen1,
.fourth:checked ~ .screen2,
.fourth:checked ~ .screen3
{
    display: none;
}

.inside:hover
{
    padding: 0;
    margin: 9%;
    width: 90%;
    box-shadow: 0 0 10px #ff7256;
    z-index: 1;
    position: relative;
}

.background
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.9;
    display: none;
    z-index: 2;
    position: fixed;
}

.close
{
    top: 10px;
    right: 10px;
    z-index: 4;
    width: 80px;
    display: none;
    position: fixed;
}

.close:hover
{
    cursor: pointer;
}

.img-photo:focus ~ .background,
.img-photo:focus ~ .close
{
    display: block;
}

.img-photo:focus ~ .description
{
    display: none;
}

.block .img-photo:focus
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 0 15px #ff7256;
}
