.main
{
    text-align: center;
}

.title
{
    color: #008000;
    text-align: center;
}

.layer
{
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
}

.cross
{
    width: 4%;
    position: fixed;
    top: 2%;
    left: 95%;
    opacity: 1;
    cursor: pointer;
}

.image
{
    width: 90%;
}

.description
{
    display: none;
    width: 90%;
    margin: 5%;
}

.content
{
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px;
    width: 300px;
}

.content:hover .description,
.image:focus ~ .layer
{
    display: block;
}

.content:hover
{
    box-shadow: 0 0 5px #000;
}

.image:focus
{
    width: 500px;
    z-index: 1;
    position: fixed;
    left: 30%;
}

.image:focus ~ .description
{
    display: none;
}

.first:checked ~ .second-page,
.first:checked ~ .third-page,
.second:checked ~ .first-page,
.second:checked ~ .third-page,
.third:checked ~ .first-page,
.third:checked ~ .second-page
{
    display: none;
}
