body
{
    margin: 0;
}

main
{
    width: 100%;
}

p.image
{
    width: 21%;
    float: left;
    margin: 2%;
}

p.image > img
{
    width: 100%;
}

img:hover
{
    display: none;
}
