img
{
    max-width: 100%;
}

h1
{
    text-align: center;
}

.close
{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
}

.hover_card
{
    position: absolute;
    box-shadow: 0 0 10px 0 #000;
    z-index: 20;
    width: 125%;
    top: -30px;
    left: -30px;
    background-color: #fff;
    display: none;
    padding: 10px;
}

.card:hover .hover_card,
.card:target .hidden_image,
.card:target ~ .background,
.card:target ~ .close
{
    display: block;
}

.slide
{
    position: absolute;
    top: 20%;
    left: 10%;
    display: none;
}

.card:target .hover_card
{
    display: none;
}

.hidden_image
{
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    z-index: 5;
    display: none;
}

.card
{
    position: relative;
    width: 20%;
    vertical-align: middle;
    display: inline-block;
}

.background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

input[type='radio']
{
    position: absolute;
    top: 10%;
}

.radio1
{
    left: 44%;
}

.radio2
{
    left: 50%;
}

.radio3
{
    left: 56%;
}

.radio2:checked ~ .slide.number2,
.radio1:checked ~ .slide.number1,
.radio3:checked ~ .slide.number3
{
    display: block;
}
