@font-face
{
    font-family: 'Yandex Sans';
    font-weight: 600;
    src: local('Yandex Sans');
    src: url('fonts/Yandex-Sans-Text-Medium.ttf');
}

@font-face
{
    font-family: 'Yandex Sans';
    font-weight: 400;
    src: local('Yandex Sans');
    src: url('fonts/Yandex-Sans-Text-Light.ttf');
}

html
{
    width: 100%;
    min-width: 500px;
}

body
{
    margin: 0;
    font: 400 16px 'Yandex Sans', sans-serif;
}

.card-image figcaption,
.pages
{
    display: none;
}

.header
{
    position: relative;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 50px 10px rgba(0,0,0,.05);
    overflow: hidden;
}

.header h1
{
    font-weight: 600;
    font-size: 1.5em;
    margin: 0;
    padding: 20px 0 20px 50px;
}

.card-image figcaption h2:first-letter,
.header h1:first-letter
{
    color: #f00;
}

.main
{
    position: relative;
    white-space: nowrap;
    margin: 20px 0;
    overflow: hidden;
}

.content
{
    display: inline-block;
    width: 100%;
    -webkit-transition: margin-left .9s;
    -moz-transition: margin-left .9s;
    -ms-transition: margin-left .9s;
    -o-transition: margin-left .9s;
    transition: margin-left .9s;
    text-align: center;
}

.content:not(:first-child)
{
    margin-left: -4px;
}

.card
{
    display: inline-block;
    width: calc(100%/4 - 15px);
    margin: 5px;
    vertical-align: top;
    white-space: normal;
    z-index: 99;
}

.card:hover
{
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.card-image
{
    position: relative;
    width: 98%;
    margin: 5px auto;
}

img
{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.card-image figcaption h2
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image figcaption p
{
    text-align: left;
    padding: 0 8px;
}

.card:hover .card-image figcaption
{
    display: block;
}

.container,
.card-view
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-view
{
    display: none;
    position: fixed;
    background: rgba(20, 20, 20, .8);
}

.card-view:target
{
    display: block;
    z-index: 999;
}

.container
{
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.container:after
{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.close
{
    height: 18px;
    stroke-width: 15;
    width: 18px;
    stroke: #fff;
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
}

.pages[id='page2']:checked ~ .main .content:first-child
{
    margin-left: -100%;
}

.pages[id='page3']:checked ~ .main .content:first-child
{
    margin-left: -200%;
}

.footer
{
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.footer .label
{
    background-color: #fff;
    height: 38px;
    width: 38px;
    border-radius: 19px;
    font-size: 18px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
}

.footer .label:hover
{
    background-color: #eee;
}

input[id='page1']:checked ~ .footer .label[for='page1'],
input[id='page2']:checked ~ .footer .label[for='page2'],
input[id='page3']:checked ~ .footer .label[for='page3']
{
    background-color: #ffeba0;
}

.arrow
{
    width: 0;
    height: 0;
    border: 19px solid transparent;
    position: absolute;
    display: none;
}

.arrow-right
{
    border-left-color: #ffdb4d;
    border-right: 0;
    right: 16px;
}

.arrow-left
{
    border-right-color: #ffdb4d;
    border-left: 0;
    left: 16px;
}

input[id='page1']:checked ~ .footer .arrow-right[for='page2'],
input[id='page2']:checked ~ .footer .arrow-left[for='page1'],
input[id='page2']:checked ~ .footer .arrow-right[for='page3'],
input[id='page3']:checked ~ .footer .arrow-left[for='page2']
{
    display: block;
}

.label,
.arrow
{
    cursor: pointer;
}
