html,
body,
.root
{
    height: 100%;
    width: 100%;
    margin: 0;
}

.root
{
    line-height: 100vh;
    text-align: center;
}

.content
{
    line-height: initial;
    display: inline-block;
    vertical-align: baseline;
}

.image-container
{
    position: relative;
    top: 0;
    left: 0;
}

.image-container .pic-opener
{
    opacity: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.image-container > img
{
    width: 100%;
    transition: box-shadow .3s;
}

.image-container:hover > img
{
    box-shadow: 0 0 1rem 0 #555;
}

.vegetable
{
    display: inline-block;
    width: 15rem;
    transition: height .3s, padding .3s, margin .3s, box-shadow .3s;
    background-color: #fff;
    z-index: 2;
}

.vegetable:hover
{
    padding: 1rem;
    box-shadow: 0 0 1rem 0 #aaa;
    margin: 0 -1rem;
    position: relative;
}

.description
{
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-top: -1rem;
    transition: opacity .3s, margin .3s;
}

.vegetable:hover .description
{
    margin-top: 1rem;
    height: 100%;
    opacity: 1;
}

.fullscreen
{
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s;
    text-align: center;
    line-height: 100vh;
}

.pic-opener:checked ~ .fullscreen
{
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
}

.pic-opener:checked
{
    position: fixed;
    width: 5vh;
    height: 5vh;
    top: 5vh;
    right: 5vh;
    left: auto;
    z-index: 11;
}

.fullscreen > img
{
    display: inline-block;
    max-width: 0;
    max-height: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .3s ease-out, /*
        */box-shadow .3s ease-out, border-radius .3s ease-out;
    vertical-align: middle;
}

.pic-opener:checked ~ .fullscreen > img
{
    max-width: 80vw;
    max-height: 80vh;
    transform: scale(1);
    box-shadow: 0 0 2rem 0 #555;
    border-radius: 0%;
    z-index: 10;
}

.cross
{
    position: absolute;
    width: 5vh;
    height: 0;
    top: 5vh;
    right: 5vh;
    background-image: url('images/cross.png');
    background-size: cover;
    opacity: 0;
    transition: opacity .7s;
}

.pic-opener:checked ~ .fullscreen > .cross
{
    height: 5vh;
    opacity: 1;
    z-index: 10;
}

.slider
{
    position: absolute;
    bottom: 30vh;
    width: 3vh;
    height: 3vh;
}

.slider:nth-child(1)
{
    left: calc(50vw - 7.5vh);
}

.slider:nth-child(2)
{
    left: calc(50vw - 2.5vh);
}

.slider:nth-child(3)
{
    left: calc(50vw + 2.5vh);
}

.slider:nth-child(4)
{
    left: calc(50vw + 7.5vh);
}

.vegetables
{
    display: none;
}

.slider:nth-child(1):checked ~ .vegetables:nth-of-type(1)
{
    display: block;
}

.slider:nth-child(2):checked ~ .vegetables:nth-of-type(2)
{
    display: block;
}

.slider:nth-child(3):checked ~ .vegetables:nth-of-type(3)
{
    display: block;
}

.slider:nth-child(4):checked ~ .vegetables:nth-of-type(4)
{
    display: block;
}

