input[name='block-control']
{
    display: none;
}

.selector
{
    width: 1150px;
    text-align: center;
    position: relative;
    z-index: 5;
    top: 400px;
    display: inline-block;
}

.selector label
{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('radio/radio-unselected.png');
}

input[id='block-1']:checked ~ .screen-bar .slider
{
    margin-left: 0;
    transition: 2s;
}

input[id='block-2']:checked ~ .screen-bar .slider
{
    margin-left: -1140px;
    transition: 2s;
}

input[id='block-3']:checked ~ .screen-bar .slider
{
    margin-left: -2280px;
    transition: 2s;
}

input[id='block-1']:checked ~ .screen-bar .selector [id='label-1'],
input[id='block-2']:checked ~ .screen-bar .selector [id='label-2'],
input[id='block-3']:checked ~ .screen-bar .selector [id='label-3']
{
    background-image: url('radio/radio-selected.png');
    transition: 1s;
}

.selector label:hover
{
    background-image: url('radio/radio-highlighted.png');
}
